<!DOCTYPE html>
<html>
{include file="main/head.html"}
<body class="hold-transition skin-blue sidebar-mini">

{if isset($error) }
	{include file="error/$error.html"}
{else}
	<div class="wrapper">
		{include file="main/header.html"}
		{include file="main/sidebar.html"}

	  <div class="content-wrapper">
		{include file="pages/$page.html"}
	  </div>
	  <footer class="main-footer">
		Разработано с<a href="//mdays.su">Любовью <3</a>
	  </footer>
	</div>
{/if}
{include file="main/footer.html"}
</body>
</html>

