
    <h1>Описание доната</h1>
    <div class="server">
        <div class="titleList">
            Сервер:
            <div class="name">GTA 5: RP</div>
        </div>
        <div class="list">
            <div class="privilege">
                <div class="name">Джет-Пакер</div>
                <div class="about">Навсегда | 10 ₽</div>
                <ul>
                    <li class="cmd"><span>/d</span> - Донат-чат</li>
                    <li class="cmd"><span>/fly</span> - Включить полет</li>
                    <li class="cmd"><span>/feed</span> - Накормить себя</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>5 приватов</li>
                    <li>5 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Полицейский</div>
                <div class="about">Навсегда | 19 ₽</div>
                <ul>
                    <li class="cmd"><span>/pass view ник</span> - Посмотреть паспорт игрока</li>
                    <li class="cmd"><span>/reapair</span> - Починить вещи</li>
                    <li class="cmd"><span>/hat</span> - Надеть блок на голову</li>
                    <li class="cmd"><span>/god</span> - Включить режим бога</li>
                    <li class="cmd"><span>/kit police</span> - Кит Полиции</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>7 приватов</li>
                    <li>8 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Мафия</div>
                <div class="about">Навсегда | 29 ₽</div>
                <ul>
                    <li class="cmd"><span>/tpahere</span> - Запрос телепортации к себе</li>
                    <li class="cmd"><span>/ec</span> - Открыть эндер-сундук</li>
                    <li class="cmd"><span>/heal</span> - Вылечить себя</li>
                    <li class="cmd"><span>/ci</span> - Очистить инвентарь</li>
                    <li class="cmd"><span>/ext</span> - Потушить себя</li>
                    <li class="cmd"><span>/kit mafia</span> - Кит Мафия</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>10 приватов</li>
                    <li>10 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Ютубер</div>
                <div class="about">Навсегда | 39 ₽</div>
                <ul>
                    <li class="cmd"><span>/gm 1</span> - Включить креатив</li>
                    <li class="cmd"><span>/gm 0</span> - Выключить креатив</li>
                    <li class="cmd"><span>/back</span> - Вернуться назад</li>
                    <li class="cmd"><span>/gadgets</span> - Доступ к маскам</li>
                    <li class="cmd"><span>/i</span> - Выдать себе блок</li>
                    <li class="cmd"><span>/skull</span> - Выдать себе любую голову</li>
                    <li class="cmd"><span>/ptime</span> - Изменить себе время</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>15 приватов</li>
                    <li>15 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Заведующий</div>
                <div class="about">Навсегда | 59 ₽</div>
                <ul>
                    <li class="cmd"><span>/tempmute</span> - Выдать мут на время (50 мин.)</li>
                    <li class="cmd"><span>/unmute</span> - Размутить игрока</li>
                    <li class="cmd"><span>/top</span> - Телепорт на верхний блок</li>
                    <li class="cmd"><span>/vanish</span> - Включить невидимку</li>
                    <li class="cmd"><span>/rainbow</span> - Радужная броня</li>
                    <li class="cmd"><span>/tp</span> - Телепорт к игроку</li>
                    <li class="cmd"><span>/tphere</span> - Телепорт игрока к себе</li>
                    <li class="cmd"><span>/setwarp</span> - Создать варп</li>
                    <li class="cmd"><span>/delwarp</span> - Удалить варп</li>
                    <li class="cmd"><span>/invsee</span> - Открыть чужой инвент</li>
                    <li class="cmd"><span>/exp</span> - Выдать себе опыт</li>
                    <li class="cmd"><span>/jump</span> - Прыжок</li>
                    <li class="cmd"><span>/helpop</span> - Чат для админов</li>
                    <li class="cmd"><span>/more</span> - Дюп вещей</li>
                    <li class="cmd"><span>/feed ник</span> - Накормить друга</li>
                    <li class="cmd"><span>/kit zaved</span> - Кит Заведующего</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>20 варп</li>
                    <li>18 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Управляющий</div>
                <div class="about">Навсегда | 99 ₽</div>
                <ul>
                    <li class="cmd"><span>/kick</span> - Кикнуть нарушителя</li>
                    <li class="cmd"><span>/near</span> - Узнать кто рядом</li>
                    <li class="cmd"><span>/realname</span> - Узнать реальный ник игрока</li>
                    <li class="cmd"><span>/itemdb</span> - Узнать id блока</li>
                    <li class="cmd"><span>/getpos</span> - Узнать свои корды</li>
                    <li class="cmd"><span>/gadgets</span> - Доступ к эмоциям</li>
                    <li class="cmd"><span>/seen</span> - Инфа о игроке</li>
                    <li class="cmd"><span>/balance</span> - Узнать чужой баланс</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>25 варп</li>
                    <li>20 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Бизнесмен</div>
                <div class="about">Навсегда | 149 ₽</div>
                <ul>
                    <li class="cmd"><span>/tempmute</span> - Выдать мут на время (100 мин.)</li>
                    <li class="cmd"><span>/tptoggle</span> - Запретить телепорт к себе</li>
                    <li class="cmd"><span>/list</span> - Посмотреть скрытых игроков</li>
                    <li class="cmd"><span>//walls id</span> - Создать стену</li>
                    <li class="cmd"><span>/gadgets</span> - Доступ к баннерам</li>
                    <li class="cmd"><span>/give</span> - Выдать блок с любым именем</li>
                    <li class="cmd"><span>//undo</span> - Отменить последнее действие</li>
                    <li class="cmd"><span>/compass</span> - Узнать направление</li>
                    <li class="cmd"><span>/exp</span> - Выдать опыт другу</li>
                    <li class="cmd"><span>/kit biznes</span> - Кит Бизнесмена</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>30 приватов</li>
                    <li>25 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Мэр</div>
                <div class="about">Навсегда | 249 ₽</div>
                <ul>
                    <li class="cmd"><span>//set</span> - Сетать в своем рг</li>
                    <li class="cmd"><span>//redo</span> - Отменить //undo</li>
                    <li class="cmd"><span>/tempmute</span> - Выдать мут на время (120 мин.)</li>
                    <li class="cmd"><span>/ec</span> - Открыть чужой эндер-сундук</li>
                    <li class="cmd"><span>/ascend</span> - Прыгнуть выше головы</li>
                    <li class="cmd"><span>/descend</span> - Попуститься ниже головы</li>
                    <li class="cmd"><span>/gadgets</span> - Супер-герои</li>
                    <li class="cmd"><span>/fireball</span> - Запустить беляш</li>
                    <li class="cmd"><span>/gc</span> - Тех.инфа о сервере</li>
                    <li class="cmd"><span>/jail</span> - Посадить в тюрьму</li>
                    <li class="cmd"><span>/unjail</span> - Выпустить из тюрьмы</li>
                    <li class="cmd"><span>/kit mar</span> - Кит Мэра</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>40 приватов</li>
                    <li>35 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Зам.Министра</div>
                <div class="about">Навсегда | 399 ₽</div>
                <ul>
                    <li class="cmd"><span>/tempmute</span> - Выдать мут на время (140 мин.)</li>
                    <li class="cmd"><span>//replace</span> - Заменить блоки</li>
                    <li class="cmd"><span>/lagg killmobs</span> - Убить мобов</li>
                    <li class="cmd"><span>/burn</span> - Поджечь игрока</li>
                    <li class="cmd"><span>/tppos</span> - Телепорт по кордам</li>
                    <li class="cmd"><span>/fly</span> - Выдать полет другу</li>
                    <li class="cmd"><span>/speed</span> - Увеличить себе скорость</li>
                    <li class="cmd"><span>/whois</span> - Узнать всю инфу о игроке</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>50 приватов</li>
                    <li>40 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Министр</div>
                <div class="about">Навсегда | 599 ₽</div>
                <ul>
                    <li class="cmd"><span>/tempban</span> - Выдать бан на время (180 мин.)</li>
                    <li class="cmd"><span>/mute</span> - Замутить навсегда</li>
                    <li class="cmd"><span>/unban</span> - Разбанить</li>
                    <li class="cmd"><span>/repairvehicle</span> - Починить транспорт</li>
                    <li class="cmd"><span>/gadgets</span> - Доступ к эффектам</li>
                    <li class="cmd"><span>/time set</span> - Изменить время</li>
                    <li class="cmd"><span>/lagg clear</span> - Удалить дропа</li>
                    <li class="cmd"><span>/nick</span> - Изменить себе ник</li>
                    <li class="cmd"><span>/socialspy</span> - Прослушка чужой лс</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>60 приватов</li>
                    <li>бескл.число точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Президент</div>
                <div class="about">Навсегда | 999 ₽</div>
                <ul>
                    <li class="cmd"><span>/bc</span> - Объявление</li>
                    <li class="cmd"><span>/god</span> - Выдать бессмертие другу</li>
                    <li class="cmd"><span>/tm sb toggle</span> - Выключить скорборд</li>
                    <li class="cmd"><span>/gadgets</span> - Доступ к питомцам</li>
                    <li class="cmd"><span>/ban</span> - Забанить навсегда</li>
                    <li class="cmd"><span>/invsee</span> - Взять вещи из чужого инвента</li>
                    <li class="cmd"><span>/tpo</span> - Тп к тому, кто запретил</li>
                    <li class="cmd"><span>/exp</span> - Выдать опыт другу</li>
                    <li class="cmd"><span>/tphere</span> - Телепорт игрока к себе</li>
                    <li class="cmd"><span>/msgtoggle</span> - Запретить писать себе в лс</li>
                    <li class="cmd"><span>/rg list -p</span> - Посмотреть регионы игрока</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>бескл.число приватов</li>
                    <li>бескл.число точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Президент+</div>
                <div class="about">Навсегда | 1599 ₽</div>
                <ul>
                    <li class="cmd"><span>/co i</span> - Посмотреть кто ломал блоки</li>
                    <li class="cmd"><span>/prefix</span> - Меню уникальных префиксов</li>
                    <li class="cmd"><span>/thru</span> - Перемещение сквозь стены</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="server">
        <div class="titleList">
            Сервер:
            <div class="name">Анархия</div>
        </div>
        <div class="list">
            <div class="privilege">
                <div class="name">Странник</div>
                <div class="about">Навсегда | 9 ₽</div>
                <ul>
                    <li class="cmd"><span>/craft</span> - Открыть верстак</li>
                    <li class="cmd"><span>/rtp</span> - Рандомный телепорт</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>4 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Воин</div>
                <div class="about">Навсегда | 19 ₽</div>
                <ul>
                    <li class="cmd"><span>/feed</span> - Восполнить голод</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>5 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Охотник</div>
                <div class="about">Навсегда | 29 ₽</div>
                <ul>
                    <li class="cmd"><span>/clear</span> - Очистить инветарь</li>
                    <li class="cmd"><span>/ec</span> - Открыть эндер-сундук</li>
                    <li class="cmd"><span>/hat</span> - Надеть блок на голову</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>6 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Убийца</div>
                <div class="about">Навсегда | 39 ₽</div>
                <ul>
                    <li class="cmd"><span>/repair</span> - Починить предмет</li>
                    <li class="cmd"><span>/prime</span> - Изменить время суток</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>7 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Легенда</div>
                <div class="about">Навсегда | 59 ₽</div>
                <ul>
                    <li class="cmd"><span>/repair all</span> - Починить всё</li>
                    <li class="cmd"><span>/heal</span> - Вылечить себя</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>8 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Император</div>
                <div class="about">Навсегда | 99 ₽</div>
                <ul>
                    <li class="cmd"><span>/kit imperator</span> - Топ набор императора</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>9 точек дома</li>
                </ul>
            </div>
            <div class="privilege">
                <div class="name">Повелитель</div>
                <div class="about">Навсегда | 199 ₽</div>
                <ul>
                    <li class="cmd"><span>/kit povelitel</span> - Топ набор повелителя</li>
                    <li class="cmd"><span>/near</span> - Найти игрока</li>
                    <li class="cmd"><span>/time set</span> - Изменить игровое время</li>
                    <li class="cmd"><span>/weather</span> - Изменить погоду</li>
                    <li class="cmd"><span>/donate</span> - Подробное описание доната на сервере</li>
                    <li>10 точек дома</li>
                </ul>
            </div>
        </div>
    </div>
