<div class="server_rules">
    <h2>Правила севрера</h2>
    <p>Если вкратце, то у нас <span class="color">нельзя</span>:</p>
    <div class="conditions_block">
        <div class="condition">
            <div class="image">
                <img src="/styles/img/swear.png" alt="">
            </div>
            <p>Ругаться матом,<br> оскорблять родителей</p>
        </div>
        <div class="condition">
            <div class="image">
                <img src="/styles/img/cheater.png" alt="">
            </div>
            <p>Использовать читы и баги проекта</p>
        </div>
        <div class="condition">
            <div class="image">
                <img src="/styles/img/acc.png" alt="">
            </div>
            <p>Продавать или передавать аккаунт</p>
        </div>
    </div>
</div>

<div class="rules_list_wrapper">
    <p>Однако лучше прочитай полный список правил:</p>
    <div class="rules_list_block">
        <div class="rules_list">
            <b>Основные положения</b>
            <ul>
                <li>1.1 Данный документ является официальным регламентом проекта, любые прочие таковыми не могут
                    называться;
                </li>
                <li>1.2 Регистрируясь на сервере, вы соглашаетесь со всеми пунктами данного списка, правами описанными
                    ниже и обязанностями;
                </li>
                <li>1.3 Любой человек имеет право на несколько регистраций с одного IP адреса;</li>
                <li>1.4 Любой человек имеет право посещать проект, если он не нарушает правила проекта;</li>
                <li>1.5 Незнание правил не освобождает от ответственности;</li>
                <li>1.6 Играя на нашем сервере вы подтверждаете что прочитали FAQ;</li>
                <li>1.7 При вводе на сайте не верного ника администрация не отвечает за последствия покупки доната на
                    этот ник;
                </li>
                <li>1.8 Цель данных правил – защита интересов пользователей и установление порядка на всех ресурсах
                    проекта;
                </li>
                <li>1.9 Администрация оставляет за собой право в одностороннем порядке изменять текущие правила с
                    уведомлением пользователей посредством группы VK;
                </li>
                <li>1.10 Администрация ведет управление игровыми процессами и всем проектом - исключительно по своему
                    усмотрению;
                </li>
                <li>1.11 Так как не всегда удается определить нарушение правил пользователем, окончательное решение
                    остается за Администраторами проекта;
                </li>
                <li>1.12 Право использования всех сервисов проекта, предоставляется Администрацией на бесплатной основе,
                    за исключением дополнительных функций (приобретаемых на платной основе и активируемых путем
                    активации дополнительных возможностей в серверной версии (плагины) игры). Использование бесплатного
                    функционала предоставляется в текущей форме, не гарантируя 100% правильность работы. Игровые вещи,
                    способности и т.п, утерянные в связи с ненадлежащей работой неоплачиваемых сервисов, не
                    возвращаются;
                </li>
                <li>1.13 (1) Оплата дополнительных частей программного продукта производится только на сайте проекта в
                    валюте – рубли. Зачисление средств производится с помощью агрегатора платежей в любой валюте по
                    месту нахождения пользователя, конвертируемой самим агрегатором в рубли. Оплата дополнительных прав
                    считается как пожертвование и не может быть возвращена, если услуга не была оказана в течении 14
                    дней и в этом нет вашей вины;
                    (2) Магазин вправе не возвращать издержки и комиссии, которые появились во время покупки на стороне
                    продавца;
                    (3) Покупки в магизине исполняют роль добровольных пожертвований, и не обязательны к покупке для игры
                    на сервере;
                </li>
                <li>1.14 Периодические обновления игрового мира – Вайп, производятся Администрацией по истечении
                    временного отрезка, далее которого нормальное функционирование сервисов невозможно, ввиду
                    особенностей построения игрового процесса. Длительность вышеуказанного временного отрезка
                    определяется администрацией самостоятельно, исходя из текущего положения дел. Вайп не является
                    отказом пользователю в использовании платных дополнений, т.к при этом не происходит отзыв лицензии
                    на часть программного продукта или ограничения функционала этой части;
                </li>
                <li>1.15 Правообладателями дополнительных частей продукта являются их авторы. Использование этих частей
                    Администрацией осуществляется на основе соглашения о свободном распространении и использовании;
                </li>
                <li>1.16 Регистрируясь и играя на нашем проекте, вы соглашаетесь с обработкой Администрацией ваших
                    персональных данных, то есть совершение, в том числе, следующих действий: обработку (включая сбор,
                    систематизацию, накопление, хранение, уточнение (обновление, изменение), использование,
                    обезличивание, блокирование, уничтожение персональных данных).
                </li>
            </ul>
        </div>
        <div class="rules_list">
            <b>Права и обязанности игроков</b>
            <ul>
                <li>2.1 Игрок имеет право использовать все доступные ему возможности, если они не нарушают правила
                    проекта;
                </li>
                <li>2.2 Игрок полностью отвечает за надежность своего пароля и доступа к аккаунту;</li>
                <li>2.3 Игрок имеет право на добровольное пожертвование;</li>
                <li>2.4 Игрок соглашается с тем, что потраченные им средства не будут возвращены;</li>
                <li>2.5 Игроки, имеющие различные привилегии на сервере, ничем не отличаются от обычных игроков, кроме
                    привилегий и полностью подчиняются правилам проекта;
                </li>
                <li>2.6 Любой игрок может пожаловаться на других игроков, за исключением пункта 3.8.</li>
            </ul>
        </div>
        <div class="rules_list">
            <b>Права и обязанности главной администрации проекта</b>
            <ul>
                <li>3.1 Главная администрация проекта является самым высоким по званию лицом, которое может не соблюдать
                    данные правила и действовать на свое усмотрение;
                </li>
                <li>3.2 Администрация не хранит пароли пользователей, а только их хэш-сумму;</li>
                <li>3.3 Администрация не несет ответственности за аккаунты игроков, включая социальную инженерию,
                    вирусы, подбор пароля и т.п.;
                </li>
                <li>3.4 Решения администрации не подлежат обжалованию;</li>
                <li>3.5 Администрация вправе изменять данные правила в любое время без уведомления игроков;</li>
                <li>3.6 Администрация вправе выдавать любое наказание;</li>
                <li>3.7 Жалобы на администрацию не принимаются;</li>
                <li>3.8 Администрация вправе забирать привилегии / отказывать в обслуживании игрокам без объяснения
                    причины;
                </li>
                <li>3.9 Толкование правил сайта осуществляется только главными Администраторами. Любые другие попытки
                    истолковать правила в пользу любой из сторон признаются некорректными;
                </li>
                <li>3.10 Администрация имеет право не объяснять причины блокировки аккаунтов;</li>
                <li>3.11 Администратор вправе изъять у пользователя любое имущество, если пользователь не сможет
                    доказать его честное (без использования запрещенных дополнительных программных средств – читов и
                    т.д.) происхождение.
                </li>
                <li>3.12 Администрация имеет право снять с должности Модератора за не актив на сервере от 3-х дней и
                    более, но если он предупреждает о том, что будет отсутствовать определенное количество дней, то не
                    будет снят с должности.
                </li>
            </ul>
        </div>
        <div class="rules_list">
            <b>Запреты и наказания</b>
            <ul>
                <li>4.1 Использование нецензурной лексики в любом ее виде
                    <br>- Наказание: Мут на 10 мин. / Наказание за использование в никнейме(Пример: EbalMat):
                    Перманентный бан;
                </li>
                <li>4.2 Гриферство (нечестная добыча вещей) разрешено на сервере "MagicDays", если:</li>
                <li>4.2 (1) Не использовать команды привилегированных игроков (Например: /kill; /tp и тд)
                    <br>- Наказание: Бан до 5 часов;
                </li>
                <li>4.2 (2) Имея права на все регионы ломать и строить без ведома хозяина региона (препятствовать
                    нормальной игре)
                    <br>- Наказание: Перманентный бан / Снятие привилегии;
                </li>
                <li>4.3 Подстрекать других игроков на нарушение правил
                    <br>- Наказание: Мут на 1 час;
                </li>
                <li>4.4 Неприличные постройки или постройки (обязательно звать модератора), которые портят архитектуру
                    игровой карты, такие как: лестницы в небо(без постройки, куда ведет эта лестница), оскорбительные
                    постройки, застройка чужих построек и т.д.
                    <br>- Наказание: Снос постройки (если нет привата) + бан на 30 мин.;
                </li>
                <li>4.5 Раздавать доступные донатерам возможности/ресурсы другим игрокам
                    <br>- Наказание: Бан на 10 часов / Повтороное нарушение - перм. бан;
                </li>
                <li>4.6 Флуд, мат, оскорбление, транслит, капс, попрошайничество в чате
                    <br>- Наказание: Мут на 10 мин.;
                </li>
                <li>4.6 (1) Организация массового флуда (вопросы сюда не входят)
                    <br>- Наказание: Мут / Бан на 15 мин.;
                </li>
                <li>4.7 Продавать аккаунты/Передача 3-им лицам аккаунт
                    <br>- Наказание: Перманентный бан и снятие привилегии;
                </li>
                <li>4.8 Использование чит - программ, багов, уязвимостей проекта
                    <br>- Наказание: Перманентный бан / Бан по IP;
                </li>
                <li>4.9 Препятствие нормальной игре
                    <br>- Наказание: Кик/Бан на 30 минут - час;
                </li>
                <li>4.10 Разжигание какой-либо розни
                    <br>- Наказание: Мут на 15 мин.;
                </li>
                <li>4.11 Необоснованное наказание игроков
                    <br>- Наказание: 10 мин (первые 3 наказания) / Повторное нарушение - перм. бан;
                </li>
                <li>4.12 Оскорблять проект, а так же его администраторов и модераторов
                    <br>- Наказание: Перманентный бан / Бан по IP;
                </li>
                <li>4.13 Использование возможностей доната в корыстных целях (в пвп, полете и т.п.)
                    <br>- Наказание: Перманентный бан / Снятие доната;
                </li>
                <li>4.14 Реклама других проектов в любом виде
                    <br>- Наказание: Перманентный бан / Бан по IP;
                </li>
                <li>4.15 Выпрашивание чего-либо у игроков, донатеров, администрации и т.д.
                    <br>- Наказание: Мут на 10 мин.;
                </li>
                <li>4.16 Сделки, связанные с продажей игровых ценностей за реальные деньги.
                    <br>- Наказание: Перманентный бан / Бан по IP;
                </li>
                <li>4.17 Использование читов на всех минииграх независимо от привилегии
                    <br>- Наказание: Блокировка на 7 дней. (Данное правило не действует в настоящее время из-за
                    отсутствия миниигр);
                </li>
                <li>4.18 Разбан/размут виновного
                    <br>- Наказание: Перманентный бан;
                </li>
                <li>4.19 Ввод в заблуждение (обман) администраторов и модераторов
                    <br>- Наказание: Перманентный бан;
                </li>
                <li>4.20 Упоминание родителей в грубой или оскорбительной форме
                    <br>- Наказание: Мут на 1 час.
                </li>
            </ul>
            <span>Перманентный бан = бан навсегда</span>
        </div>
        <div class="rules_list">
            <b>Запреты и наказания</b>
            <ul>
                <li>5.1 Запрещены оскорбления участников группы и\или игроков сервера
                    <br>- Наказание: Блокировка в группе на 7 дней;
                </li>
                <li>5.2 Запрещено попрошайничество доната
                    <br>- Наказание: Перманентная блокировка в группе;
                </li>
                <li>5.3 Запрещено использовать аккаунты с нецензурными именами
                    <br>- Наказание: Перманентная блокировка в группе;
                </li>
                <li>5.4 Запрещено использование нецензурной лексики
                    <br>- Наказание: Блокировка в группе на 7 дней;
                </li>
                <li>5.5 Запрещено разжигание той или иной розни в любом виде
                    <br>- Наказание: Перманентная блокировка в группе;
                </li>
                <li>5.6 Запрещено обманывать/оскорблять администрацию/модераторов
                    <br>- Наказание: Перманентная блокировка в группе и\или полная блокировка аккаунта в игре;
                </li>
                <li>5.7 Запрещена продажа доната
                    <br>- Наказание: Перманентная блокировка в группе;
                </li>
                <li>5.8 Запрещено загружать в фотоальбомы чужие постройки/арты и прочий чужой материал</li>
            </ul>
        </div>
    </div>
</div>
