.carousel {
  position: relative; }

.carousel.pointer-event {
  touch-action: pan-y; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: ""; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
          transform: none; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none; } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none; } }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-indicators li {
        transition: none; } }
  .carousel-indicators .active {
    opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

.commentsBlock {
  text-align: center;
  padding-top: 30px; }
  .commentsBlock .purchases_block {
    flex-direction: column; }
  .commentsBlock h3 {
    font-size: 12px;
    letter-spacing: 2.5px;
    margin-bottom: 20px; }
  .commentsBlock .carousel {
    text-align: center;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.52;
    color: #ffffff; }
    .commentsBlock .carousel .user {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      margin-bottom: 20px; }
      .commentsBlock .carousel .user .img {
        display: flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: solid 1px #ffffff;
        overflow: hidden;
        text-align: center;
        margin-right: 10px; }
      .commentsBlock .carousel .user .name {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.52; }
      .commentsBlock .carousel .user .buy {
        font-size: 12px;
        line-height: 1.52;
        color: rgba(255, 255, 255, 0.5); }
        .commentsBlock .carousel .user .buy span {
          font-weight: 600;
          color: #fe8c2a; }
    .commentsBlock .carousel .carousel-item {
      min-height: 133px; }
      @media (max-width: 600px) {
        .commentsBlock .carousel .carousel-item {
          min-height: 175px; } }
    .commentsBlock .carousel .carousel-control-prev, .commentsBlock .carousel .carousel-control-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: solid 1px rgba(255, 255, 255, 0.25); }
      .commentsBlock .carousel .carousel-control-prev img, .commentsBlock .carousel .carousel-control-next img {
        height: 15px; }
    .commentsBlock .carousel .carousel-control-next img {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .commentsBlock .btn {
    padding-left: 39px;
    padding-right: 39px;
    background: linear-gradient(to right, #ff3000, #ff8f00); }
    .commentsBlock .btn:hover {
      background: linear-gradient(to right, #ff8f00, #ff3000); }

.listServers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  border-radius: 5px;
  width: 300px; }
  .listServers .srv {
    cursor: pointer;
    padding: 12.5px 20px;
    background: rgba(0, 0, 0, 0.25);
    flex-shrink: 2;
    box-sizing: border-box;
    width: 46%;
    width: calc(50% - 10px);
    border-radius: 5px;
    margin: 5px; }
    .listServers .srv.active {
      background: #ff8f00 linear-gradient(to right, #ff8f00, #ff3000); }
  @media (max-width: 600px) {
    .listServers {
      flex-direction: column; }
      .listServers .srv {
        width: 100%; }
        .listServers .srv:first-child {
          border-radius: 5px 5px 0 0; }
        .listServers .srv:last-child {
          border-radius: 0 0 5px 5px; } } 
