<section class="content">
	<div class="row">
	<div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Лог всех выполненных команд</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="cmd" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Ник</th>
                  <th>ФИО</th>
                  <th>Команда</th>
                  <th>Ответ</th>
                  <th>Дата</th>
                </tr>
                </thead>
                <tbody>
				{foreach from=$log item=l}
					<tr>
					  <td><img src="https://minotar.net/avatar/{$user['nick']}/15"> {$l['nick']}</td>
					  <td>{$l['user']}</td>
					  <td>{$l['cmd']}</td>
					  <td>{$l['reply']}</td>
					  <td>{$l['time']}</td>
					</tr>
				{/foreach}
                </tbody>
                <tfoot>
                <tr>
                  <th>Ник</th>
                  <th>ФИО</th>
                  <th>Команда</th>
                  <th>Ответ</th>
                  <th>Дата</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
	</div>
	</div>
</section>