<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<style>
				.form-group {
					padding-bottom: 0;
					margin: 0;
				}
			</style>
			{if $type == "new/give"}
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Добавление сервера</h4>
					<p class="category">Добавление нового сервера выдачи</p>
				</div>
				<div class="card-content table-responsive">
					<form method="post">
						<div class="alert alert-dismissible alert-warning">
							<center> Добавление РКОН данных сервера для выдачи</center>
						</div>
						<input class="form-control" type="hidden" name="id" value="{$server.id}">
						<div class="form-group">
							<label class="control-label">Название сервера</label>
							<input class="form-control" placeholder="Test" type="text" name="name">
						</div>
						<div class="form-group">
							<label class="control-label">Адрес сервера</label>
							<input class="form-control" placeholder="127.0.0.1" type="text" name="ip">
						</div>
						<div class="form-group">
							<label class="control-label">Порт сервера</label>
							<input class="form-control" placeholder="23141" type="text" name="port">
						</div>
						<div class="form-group">
							<label class="control-label">Пароль сервера</label>
							<input class="form-control" placeholder="12345612fd" type="text" name="pass">
						</div>
						<div class="form-group">
							<label class="control-label">Выдавать на товары с сервера</label>
							<select class="form-control" name="sorting">
								{foreach from=$sorting item=$sort}
								<option value="{$sort.id}">{$sort.name}</option>
								{/foreach}
							</select>
						</div>
						<button type="submit" class="btn btn-success btn-block" name="add_server"><i class="fa fa-plus" aria-hidden="true"></i> Добавить сервер</button>
					</form>
				</div>
			</div>
			{elseif $type == "new/sort"}
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Добавление сервера</h4>
					<p class="category">Добавление нового сервера сортировки</p>
				</div>
				<div class="card-content table-responsive">
					<form method="post">
						<div class="form-group">
							<label class="control-label">Название сервера</label>
							<input class="form-control" placeholder="Test" type="text" name="name">
						</div>
						<div class="form-group">
							<label class="control-label">Сервер в perms</label>
							<input class="form-control" placeholder="rp" type="text" name="perms">
						</div>
						<button type="submit" class="btn btn-success btn-block" name="add_sort"><i class="fa fa-plus" aria-hidden="true"></i> Добавить сервер</button>
					</form>
				</div>
			</div>
			{elseif $type == "edit/give"}
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Сервер: {$server.name}</h4>
					<p class="category">Редактирование сервера</p>
				</div>
				<div class="card-content table-responsive">
					<form method="post">
						<div class="alert alert-dismissible alert-warning">
							<center> Редактирование РКОН данных сервера для выдачи</center>
						</div>
						<input class="form-control" type="hidden" name="id" value="{$server.id}">
						<div class="form-group">
							<label class="control-label">Название сервера</label>
							<input class="form-control" placeholder="Test" type="text" name="name" value="{$server.name}">
						</div>
						<div class="form-group">
							<label class="control-label">Адрес сервера</label>
							<input class="form-control" placeholder="127.0.0.1" type="text" name="ip" value="{$server.ip}">
						</div>
						<div class="form-group">
							<label class="control-label">Порт сервера</label>
							<input class="form-control" placeholder="23141" type="text" name="port" value="{$server.port}">
						</div>
						<div class="form-group">
							<label class="control-label">Пароль сервера</label>
							<input class="form-control" placeholder="12345612fd" type="text" name="pass" value="{$server.pass}">
						</div>
						<div class="form-group">
							<label class="control-label">Выдавать на товары с сервера</label>
							<select class="form-control" name="sorting">
								{foreach from=$sorting item=$sort}
								<option {if $server.server == $sort.id}selected{/if} value="{$sort.id}">{$sort.name}</option>
								{/foreach}
							</select>
						</div>
						<button type="submit" class="btn btn-success btn-block" name="edit_server"><i class="fa fa-edit" aria-hidden="true"></i> Редактировать сервер</button>
					</form>
				</div>
			</div>
			{elseif $type == "edit/sort"}
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">Сортировка: {$sort.name}</h4>
					<p class="category">Редактирование сервера сортировки</p>
				</div>
				<div class="card-content table-responsive">
					<form method="post">
						<input class="form-control" type="hidden" name="id" value="{$sort.id}">
						<div class="form-group">
							<label class="control-label">Название сервера</label>
							<input class="form-control" placeholder="Test" type="text" name="name" value="{$sort.name}">
						</div>
						<div class="form-group">
							<label class="control-label">Сервер в perms</label>
							<input class="form-control" placeholder="rp" type="text" name="perms" value="{$sort.perms}">
						</div>
						<button type="submit" class="btn btn-success btn-block" name="edit_sort"><i class="fa fa-edit" aria-hidden="true"></i> Редактировать сервер</button>
					</form>
				</div>
			</div>
			{else}
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">1) Сервера сортировки <a href="/admin/?page=servers&type=new/sort" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="" style="padding: 4px;"><i class="material-icons">add</i> Добавить</a></h4>
					<p class="category">Отображены все сервера сортировки</p>
				</div>
				<div class="card-content table-responsive">
					<table class="table">
						<thead class="text-primary">
						<tr>
							<th>#</th>
							<th>Название</th>
							<th>Значение в perms</th>
							<th class="text-right">Действие</th>
						</tr>
						</thead>
						<tbody>
						{foreach from=$sorting item=$sort}
						<tr>
							<td>{$sort.id}</td>
							<td>{$sort.name}</td>
							<td>{$sort.perms}</td>
							<td class="text-right" style="padding: 0;">
								<a href="/admin/?page=servers&type=edit/sort&id={$sort.id}" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="" style="padding: 4px;">
									<i class="material-icons">edit</i>
								</a>
								<a href="/admin/?page=servers&type=remove/sort&id={$sort.id}" rel="tooltip" class="btn btn-danger btn-round" data-original-title="" title="" style="padding: 4px;">
									<i class="material-icons">close</i>
									<div class="ripple-container"></div>
								</a>
							</td>
						</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</div>
			<div class="card">
				<div class="card-header" data-background-color="purple">
					<h4 class="title">2) Сервера выдачи <a href="/admin/?page=servers&type=new/give" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="" style="padding: 4px;"><i class="material-icons">add</i> Добавить</a></h4>
					<p class="category">Отображены все сервера выдачи доната</p>
				</div>
				<div class="card-content table-responsive">
					<table class="table">
						<thead class="text-primary">
						<tr>
							<th>Название</th>
							<th>Сервер сортировки</th>
							<th>IP</th>
							<th class="text-right">Действие</th>
						</tr>
						</thead>
						<tbody>
						{foreach from=$servers item=$server}
						<tr>
							<td>{$server.name}</td>
							<td>#{$server.server}</td>
							<td>{$server.ip}:{$server.port}</td>
							<td class="text-right" style="padding: 0;">
								<a href="/admin/?page=servers&type=edit/give&id={$server.id}" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="" style="padding: 4px;">
									<i class="material-icons">edit</i>
								</a>
								<a href="/admin/?page=servers&type=remove/give&id={$server.id}" rel="tooltip" class="btn btn-danger btn-round" data-original-title="" title="" style="padding: 4px;">
									<i class="material-icons">close</i>
									<div class="ripple-container"></div>
								</a>
							</td>
						</tr>
						{/foreach}
						</tbody>
					</table>
				</div>
			</div>
			{/if}
		</div>
	</div>
</div>